<!DOCTYPE html>
<html lang="en">
<%- include('./head') %>
<% const languageList = [ 'HTML', 'CSS', 'SCSS', 'TSX', 'JavaScript' ] %>

<body>
  <div class="container">
    <div class="row">
      <% notes.forEach(data => { %>
      <div class="cal-12" id="row-<%- data._id%>">
        <div class="row">
          <div class="col-8">
            <button type="button" class="btn btn-dark w-100 mb-1" aria-expanded="false" data-bs-toggle="collapse" data-bs-target="#<%= data._id%>" aria-controls="<%= data._id%>">
              <%= data.title%>
            </button>
          </div>
          <div class="dropdown col-3">
            <button data-id="<%- data._id%>" type="button" aria-expanded="false" data-bs-toggle="dropdown" class="btn btn-dark dropdown-toggle w-100">
              Select Language
            </button>
            <ul class="dropdown-menu dropdown-menu-dark">
              <% languageList.forEach (lang=>{ %>
              <li class="px-3 py-1" role="button" onclick="selectLanguage(this,'<%= data._id%>',`<%= data.note%>`)" data-lang-name="<%- lang.toLowerCase()%>"><%- lang%></li>
              <% } )%>
            </ul>
          </div>
          <div class="dropdown col-1">
            <button type="button" class="delete btn btn-dark w-100" data-id="<%- data._id%>">
              <img src="icons/BsTrashFill.svg" alt="Delete">
            </button>
          </div>
          <div class="collapse col-12 mb-2" id="<%= data._id%>">
            <div class=" bg-dark p-2 rounded">
              <% data.fileLinks.forEach(element => { %>
              <script>
                console.log({
                  x: "<%= element %>"
                })
              </script>
              <a target="_blank" href="<%= element %>" download="">file</a>
              <img src="<%= element %>" alt="" width="200">
              <%  }); %>

              <pre class="card card-body mt-4"><code id="code-<%= data._id%>" class="language-Javascript"><%= data.note%></code></pre>

            </div>
          </div>
        </div>
      </div>
      <% }); %>
    </div>
  </div>

  <%- include('./foot') %>
</body>

</html>